.hero-banner {
    background-image: url('../../../public/angela-bailey.jpg');
    background-size: cover;
    background-position: center;
    color: #FFF;
    text-align: center;
    padding: 100px 20px;
}

.hero-banner h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.hero-banner p {
    font-size: 1.2rem;
    margin-bottom: 30px;
    color: white;
    margin-left: 20px;
    margin-right: 20px;
}

.cta-button {
    background-color: #007BFF;
    color: white;
    padding: 10px 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
}