.modal__label {
  margin-top: 24px;
  margin-bottom: 8px;
}

.modal__input {
  font-size: 16px;
  line-height: 20px;
  width: 100%;
  border-top: none;
  border-left: none;
  border-right: none;
}

.modal__radio-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.modal__input_radio {
  margin: 4px;
}

.modal__label_radio {
  margin: 4px;
  margin-left: 8px;
  color: rgba(0, 0, 0, 0.5);

}

.modal__input_radio:checked + .modal__label_radio {
  color: black;
}

@media screen and (max-width: 560px) {
  .modal__input_radio {
    /* margin-bottom: 12px; */
    width: auto;
  }
}
