.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 328px;
  height: 328px;
  background-color: rgba(185, 183, 183, 0.3);
  background-position: center;
  background-size: 226px;
  background-repeat: no-repeat;
  border: 1px solid grey;
  border-radius: 19px;
  overflow: auto;
  max-width: 498px;
  max-height: 498px;
}

.card:hover {
  cursor: pointer;
}

.card__header {
  display: flex;
  align-items: center;
  align-content: space-between;
}

.card_name {
  background-color: rgba(255, 255, 255, 1);
  padding: 2px 12px;
  border-radius: 10px;
}

.card_image {
  max-width: 226px;
}

.card__like-button {
  width: 18px;
  height: 15px;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: transparent;
  background-image: url("../../images/heart.svg");
  border: none;
  cursor: pointer;
  margin-left: 10px;
}

.card__like-button_active {
  background-image: url("../../images/heartActive.svg");
}

.card__like-button:hover {
  animation: pulse 1s infinite;
  color: rgba(177, 78, 78, 0.3);
  box-shadow: 0 0 0 0 rgb(0, 0, 0);
}

@media screen and (max-width: 450px) {
  .card {
    width: 280px;
    height: 280px;
  }
  .card_image {
    max-width: 200px;
  }
}
