.weather {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1440px;
  max-height: 80px;
  min-height: 80px;
  background-repeat: no-repeat;
  background-position: right;
  border-radius: 12px;
}

.weather__info {
  color: white;
  margin-left: 16px;
  font-size: 36px;
  line-height: 40px;
}

.weather__image {
  height: 80px;
  max-width: 1440px;
}

@media screen and (max-width: 500px) {
  .weather__temp {
    color: white;
    font-size: 24px;
    line-height: 28px;
  }
}
